body{
background: skyblue;
height:100vh;
width:100%;
margin:0;
}
header{
    background-color: aliceblue;
    opacity:0.9;
    width:100%;
    height:200px;
display:flex;
justify-content:space-between;

}
    img{
        mix-blend-mode:multiply;

    }
#logo{
    width:100px;
    height:100px;
    object-fit: cover;
    margin-left:-20px;
    transform:rotate(-2deg);
    margin-top: -18px;
}
figcaption{
    font-style: italic;
    margin-left: 10px;
}

.navbar {
    display:flex;
    gap:40px;
    align-items:center;
}
.navbar > a:hover{
    
    color:skyblue;
    cursor:pointer;
}
a{
    color:inherit;
    text-decoration: none;
    font-weight: 400;
}
.image{
  object-fit: cover;
  height:50%;
aspect-ratio:35/4;
}